$secondaryColor: rgb(47, 111, 196);
$firstSectionBgColor: rgba(240, 240, 226, 255);
$transitX: 0.7s ease-in-out;
$lighterTexts: rgb(99, 104, 107);

@font-face {
  src: url(fonts/UnifrakturMaguntia-Regular.ttf);
  font-family: startliches;
}
@font-face {
  src: url(fonts/Almendra-Regular.ttf);
  font-family: informative;
}
@font-face {
  src: url(fonts/Rajdhani-Regular.ttf);
  font-family: rajdani;
}
@font-face {
  font-family: poppins;
  src: url(fonts/Poppins-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: poppins;
}
html {
  font-size: 62.5;
}

#mainContainer {
  margin-top: 1%;
  width: 90vw;
  height: auto;
  margin-right: 5vw;
  margin-left: 5vw;
}

// STYLING THE ENTIRE HEADER IN ONE CLASS USING SCSS
header {
  display: flex;
  flex-direction: row;
  gap: 11rem;
  //   border: 2px solid black;
  margin-bottom: 3rem;

  //   LOGO STYLING
  .logo {
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: -1px;
    display: flex;
    height: 2rem;
    align-items: center;

    span {
      background-color: $secondaryColor;
      display: flex;
      align-items: center;
      color: white;
      border-radius: 2px;
    }
  }

  //   NAVBAR STYLING
  nav ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    li {
      list-style: none;
      text-align: center;
      display: inline-block;
      height: 2rem;
      width: 6rem;

      a {
        text-decoration: none;
        color: $lighterTexts;
        font-weight: 300;
        font-size: 0.9rem;
        // HOVER PROPERTY FOR A TAGS
        &:hover {
          display: inline-block;
          transform: scale(1.05);
          cursor: pointer;
          background-color: $firstSectionBgColor;
          transition: $transitX;
          color: black;
          font-weight: 900;
          text-align: center;
          height: inherit;
        }
        &:focus {
          color: black;
          font-weight: 900;
          font-size: 1.1rem;
        }
      }
    }
  }

  //   STYLING THE SIGN UP AND LOGIN BUTTONS
  .navBtns {
    display: flex;
    justify-content: flex-end;
    // width: 20%;
    // border: 2px solid black;
    gap: 1.5rem;

    .signUpBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5rem;
      text-decoration: none;
      color: black;
      font-weight: 700;
      font-size: 0.9rem;

      &:hover {
        // color: white;
        border: none;
        border-radius: 15px;
        background-color: $secondaryColor;
        transition: $transitX;
        font-weight: 900;
        transform: scale(1.05);
      }
    }
    .loginBtn {
      @extend .signUpBtn;
      background-color: black;
      color: white;
      border-radius: 15px;

      &:hover {
        color: black;
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.headings {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;

  h1 {
    font-size: 2rem;
    word-spacing: -1px;
    // letter-spacing: -2px;
    font-weight: 900;
    line-height: 1.8rem;
  }

  p {
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 300;
    line-height: 1rem;
    color: rgb(99, 104, 107);
  }
}

#searchContainer {
  display: flex;
  width: 100%;
  gap: 3rem;
  margin-bottom: 2rem;
}

//STYLING THE OPTIONS AND SEARCH SECTION OF THE HOME PAGE
.optSection {
  display: flex;
  gap: 2rem;
  width: 100%;
}

#opt {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  label {
    color: black;
    font-weight: 900;
    word-spacing: 1px;
    letter-spacing: -1px;
  }

  input {
    background-color: white;
    width: 10rem;
    height: 1.8rem;
    color: rgb(17, 16, 16);
    border: none;
    border-radius: 4px;

    &:hover {
      border: 4px groove rgb(87, 172, 206);
      cursor: pointer;
      transition: $transitX;
    }
  }
  select {
    background-color: white;
    width: 10rem;
    height: 1.8rem;
    border: none;
    color: rgb(17, 16, 16);
    border-radius: 4px;

    &:hover {
      border: 4px groove rgb(87, 172, 206);
      cursor: pointer;
      transition: $transitX;
    }
  }
}

#sponsoredSpouseBar {
  position: relative;
  right: 1rem;
  label {
    color: black;
    font-weight: 900;
    word-spacing: 1px;

    letter-spacing: -1px;
  }
  input {
    background-color: white;
    width: 18rem;
    padding-left: 2rem;
    height: 1.8rem;
    color: $lighterTexts;
    border: none;
    border-radius: 4px;
    background-image: url(icons/search-alt-2-svgrepo-com.svg);
    &:hover {
      border: 4px groove rgb(87, 172, 206);
      cursor: pointer;
      transition: $transitX;
    }
  }
  .searchIcon {
    position: relative;
    right: 18rem;
    top: 0.4rem;
  }
  .adjustmentIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 1.8rem;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    left: 19rem;
    top: 1.6rem;
    &:hover {
      border: 4px groove rgb(87, 172, 206);
      cursor: pointer;
      transition: $transitX;
    }
  }
}

#resultContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  h3 {
    // letter-spacing: -2px;
    word-spacing: 2px;
    font-weight: 900;
  }

  .sortContainer {
    font-size: 0.8rem;

    label {
      color: rgb(99, 104, 107);
    }
    select {
      font-weight: 800;
      color: black;
      border: none;
      background-color: inherit;
      width: 5rem;
    }
  }
}

#houseSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  margin-bottom: 2rem;
}

#propertyCard {
  border: none;
  background-position: center;
  object-fit: contain;
  height: 20rem;
  width: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px;

  .bookMarkIcon {
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 17rem;
    top: 1rem;

    &:hover {
      background-color: $secondaryColor;
      transform: scale(1.05);
      cursor: pointer;
    }
  }

  #infoCard {
    display: flex;
    align-items: space-around;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    border: none;
    color: black;
    background-color: white;
    width: 90%;
    height: 4rem;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 15px;
    position: absolute;
    bottom: 1rem;
    // align-items: flex-end;

    #infoSection {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      gap: -0.2rem;

      h5 {
        font-weight: 900;
        color: black;
        font-family: informative;
        font-size: 1rem;
        letter-spacing: -1px;
      }
      p {
        color: $lighterTexts;
        font-style: italic;
        font-weight: 400;
        font-size: 0.7rem;
        line-height: 1rem;
      }
    }

    // STYLING THE INFO PRICE SECTION INSIDE THE INFO BOX OF THE PROPERTY CARD
    #infoPrice {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      gap: -0.2rem;

      h5 {
        font-weight: 900;
        color: black;
        font-family: informative;
        font-size: 1rem;
        letter-spacing: -1px;
      }

      P {
        color: $lighterTexts;
        font-style: italic;
        font-weight: 400;
        font-size: 0.7rem;
        line-height: 1rem;
      }
    }
  }
}
.propertyCard1 {
  background-image: url(images/house\ 1.jpg);
}
.propertyCard2 {
  background-image: url(images/house\ 2.jpg);
}
.propertyCard3 {
  background-image: url(images/house\ 3.jpg);
}
.propertyCard4 {
  background-image: url(images/house\ 4.jpg);
}
.propertyCard5 {
  background-image: url(images/house\ 5.jpg);
}
.propertyCard6 {
  background-image: url(images/house\ 6.jpg);
}

section > button {
  width: 6rem;
  height: 2rem;
  margin-bottom: 2rem;

  position: absolute;
  left: 47%;
  background-color: rgba(252, 103, 0, 255);
  border: none;
  color: white;
  font-weight: 700;
  border-radius: 15px;

  &:hover {
    // color: white;
    background-color: $secondaryColor;
    transition: $transitX;
    font-weight: 900;
    transform: scale(1.05);
    cursor: pointer;
  }
}

article {
  width: 100%;
}

.whyUsSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 3rem;

  h3 {
    // letter-spacing: -2px;
    font-size: 2rem;
    font-weight: 800;
  }

  p {
    font-size: 0.8rem;
    color: $lighterTexts;
    font-style: italic;
    font-weight: 400;
  }
}

.clientSection {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 3rem;
}

#clientSectionCard {
  display: flex;
  //   flex-direction: row;
  gap: 3rem;

  img {
    width: 30rem;
    height: auto;
    border-radius: 15px;
  }
  #sectionCardTexts {
    width: 40rem;

    h4 {
      font-size: 1.8rem;
      //   letter-spacing: -2px;
      font-weight: 900;
    }

    p {
      font-size: 0.9rem;
      color: $lighterTexts;
      line-height: 1.3rem;
    }
  }
}
.clientSectionCard2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.downloadSectionTexts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h4 {
    font-size: 2rem;
    // letter-spacing: -2px;
    font-weight: 800;
    word-spacing: 0.5rem;
  }
  p {
    color: $lighterTexts;
    font-size: 0.8rem;
    font-weight: 400;
    font-style: italic;
  }
}

.iphoneMockupSection {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  #mockUp {
    // border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;

    #mockUpTexts {
      width: 100%;
      //   border: 2px solid black;
      display: flex;
      flex-direction: column;
      height: 4rem;
      align-items: center;

      h5 {
        font-size: 1.2rem;
        // letter-spacing: -2px;
        font-family: informative;
        font-weight: 800;
        word-spacing: 0.3rem;
      }
      p {
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        color: $lighterTexts;
        line-height: 1rem;
        font-size: 0.9rem;
      }
    }
    .mockUptexts2 {
      position: relative;
      top: 0.5rem;
    }
  }
}

.downloadBtns {
  display: flex;
  width: 100%;
  gap: 1.5rem;
  justify-content: center;

  a {
    border: 2px solid black;
    height: 2rem;
    text-decoration: none;
    background-color: rgb(151, 157, 158);
    color: black;
    font-weight: 800;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: none;

    &:hover {
      background-color: $secondaryColor;
      transform: scale(1.05);
    }
  }
}
